
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
        /* Если не получилось, загрузит ttf */
    url('/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}